.dishdescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.tile-icon {
    width: 75%;
    height: 75%;
}

.tile-card {
    aspect-ratio: 1 / 1;
}